<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Gists</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        form {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1></h1>
    <form action="{{ url_for('get_gists_for_user') }}" method="post">
        <label for="github_username"></label>
        <input type="text" id="github_username" name="github_username" required><br>
        <br>
        <button type="submit">Submit</button>
        <br>
    </form>


        
</body>
</html>
